@import 'src/app/shared/styles/variables';

h3 {
  //font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #005F75;
}

.message {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: $color-text-gray;
}

mat-form-field {
  width: 100%;
}

.offer {
  color: $color-text-gray;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  letter-spacing: 0.25px;
  & a {
    text-decoration: underline;
    cursor: pointer;
    color: $color-title;
  }
}

.btn {
  width: 100%;
  height: 56px;
  border-radius: 10px;
}
