<div class="logo">
  <img src="assets/img/logo.svg" alt="Логотип" />
</div>

<div class="message-container">
  <p class="message-text" *ngIf="source === openedFrom.OrderPage">
    Для отправки заявки укажите Ваши персональные данные
  </p>
</div>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="УКАЖИТЕ ВАШИ ПЕРСОНАЛЬНЫЕ ДАННЫЕ">
    <form #personalInfoForm="ngForm">
      <mat-form-field floatLabel="auto">
        <mat-label>Имя</mat-label>
        <input
          type="text"
          name="name"
          matInput
          minlength="2"
          maxlength="49"
          required
          [(ngModel)]="contacts.name"
          lcValidationErrors
        />
      </mat-form-field>

      <mat-form-field floatLabel="auto">
        <mat-label>Фамилия</mat-label>
        <input
          type="text"
          name="surname"
          matInput
          minlength="2"
          maxlength="49"
          required
          [(ngModel)]="contacts.surname"
          lcValidationErrors
        />
      </mat-form-field>

      <mat-form-field floatLabel="auto">
        <mat-label>Телефон</mat-label>
        <input
          type="tel"
          name="phone"
          matInput
          minlength="11"
          maxlength="11"
          required
          [(ngModel)]="contacts.phone"
          lcPhoneValidator
          lcValidationErrors
        />
      </mat-form-field>

      <div class="offer">
        Нажимая «Продолжить» вы даете
        <a routerLink="public-offer" target="_blank">согласие на обработку персональных данных</a>
      </div>

      <button
        class="btn"
        mat-raised-button
        color="primary"
        [mat-dialog-close]="contacts"
        [disabled]="personalInfoForm.invalid"
      >
        ОТПРАВИТЬ
      </button>
      <button class="btn btn-cancel" mat-raised-button color="primary" [mat-dialog-close]="false">
        {{ source === openedFrom.RegistrationPage ? 'ПРОПУСТИТЬ' : 'ОТМЕНИТЬ' }}
      </button>
    </form>
  </mat-tab>
</mat-tab-group>
