<lc-modal-layout [headerTitle]="'Персональные данные'">
  <ng-container body>
    <p class="message">
      Для совершения заказов вам нужно указать следующие персональные данные. Заполните их один раз и мы больше вас не
      побеспокоим.
    </p>
    <form id="personalInfoForm" [formGroup]="personalInfoForm">
      <mat-form-field floatLabel="auto">
        <mat-label>Имя</mat-label>
        <input type="text" matInput formControlName="name" [lcValidationErrors]="formName"/>
      </mat-form-field>

      <mat-form-field floatLabel="auto">
        <mat-label>Фамилия</mat-label>
        <input type="text" matInput formControlName="surname" [lcValidationErrors]="formName"/>
      </mat-form-field>

      <mat-form-field floatLabel="auto">
        <mat-label>Телефон</mat-label>
        <input
          type="tel"
          matInput
          formControlName="phone_number"
          maxlength="11"
          [lcValidationErrors]="formName"
        />
      </mat-form-field>

      <div class="offer">
        Нажимая «Отправить» вы даете согласие <a routerLink="{{offerPath}}" target="_blank">на обработку персональных данных</a>
      </div>
    </form>

  </ng-container>
  <ng-container footer>
    <button
      class="btn"
      mat-raised-button
      color="primary"
      form="personalInfoForm"
      (click)="submit()"
    >
      ОТПРАВИТЬ
    </button>
  </ng-container>
</lc-modal-layout>
