@import "../../styles/variables.scss";

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 340px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: $main;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.25px;
  word-wrap: break-word
}

.message {
  margin-top: 40px;
  color: $color-text-gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
  text-align: center;
}

.link {
  height: 55px;
  width: 100%;
  border-radius: 10px;
  background-color: $main;
  text-decoration: none;
  color: $button-color-white !important;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 1.25px;
  word-wrap: break-word
}