<div class="filter-module" [formGroup]="filterForm">
  <div class="filter-module__header">
    <h2 class="filter-module__title">Фильтр</h2>
    <div (click)="closeModule()">
      <img src="assets/img/icons/icon-close.svg" alt="icon-close" />
    </div>
  </div>
  <div class="filter-module__checkbox" formGroupName="petKind">
    <h3 class="filter-module__subtitle">Животное</h3>
    <mat-checkbox formControlName="cat">Кошка</mat-checkbox>
    <mat-checkbox formControlName="dog">Собака</mat-checkbox>
    <mat-checkbox formControlName="bird">Птица</mat-checkbox>
  </div>
  <div formGroupName="size">
    <h3 class="filter-module__subtitle">Размер</h3>
    <div class="filter-module__size">
      <mat-chip-list selectable multiple>
        <mat-chip data-size="universal" #universal="matChip" (click)="choose($event, universal)">универсальный</mat-chip>
        <mat-chip data-size="small" #small="matChip" (click)="choose($event, small)">маленькие - 51-76 см</mat-chip>
        <mat-chip data-size="medium" #medium="matChip" (click)="choose($event, medium)">средние - 76-91 см</mat-chip>
        <mat-chip data-size="large" #large="matChip" (click)="choose($event, large)">большие - 91-120 см</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="filter-module__wrapper">
    <mat-slide-toggle formControlName="condition" class="filter-module__slide">В идеальном состоянии</mat-slide-toggle>
  </div>
  <div class="filter-module__wrapper">
    <ng-container *ngIf="counter === 0; else find">
      <button (click)="closeModule()" class="filter-module__btn">Закрыть</button>
    </ng-container>
  </div>
  <ng-template #find>
    <button class="filter-module__btn">Показать N товаров</button>
  </ng-template>
</div>
