:host {
  display: block;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-controls {
    padding-top: 24px;

    &-button:not(:first-child) {
        margin-left: 16px;
    }
  }
}
