
<div class="signIn">
    <div class="signInInner">
        <div class="signInHead">
            <h1 class="signInHeadText">Регистрация нового пользователя</h1>
        </div>
        <div class="signUpBody">
            <form class="signUpForm" >
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Фамилия</label>
                    <input class="signUpFormElemInput"  type="text" required name="login" formControlName="lastName"/>
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Имя</label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Отчество (если имеется)</label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Серия и номер документа, удостоверяющего личность</label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Кем и когда выдан документ, удостоверяющий личность</label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Кем и когда выдан документ, удостоверяющий личность</label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Контактный номер телефона</label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Адрес электронной почты</label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead"> Статус пользователя</label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead"> Название зоозащитной организации </label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Сайт/аккаунт зоозащитной организации</label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Персональный аккаунт в социальных сетях </label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Районы активной работы с животными  </label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpFormElem">
                    <label class="signUpFormElemHead">Районы активной работы с животными  </label>
                    <input class="signUpFormElemInput" type="text" required name="login" />
                </div>
                <div class="signUpBtns">
                    <button class="signUpFormBtn" type="button">Регистрация</button>
                    <button class="signUpFormBtn" type="button">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>