<main class="sign-up">
  <form
    [formGroup]="userRegistrationForm"
    class="sign-up-form"
    [ngClass]="{'sign-up-form--submitted': isFormSubmitted}"
  >
    <span>* - обязательные поля</span>
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Электроная почта</mat-label>
      <input
        matInput
        formControlName="email"
        (keydown)="disableKeyboardInput($event, 'email')"
      >
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Пароль </mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        (keydown)="disableKeyboardInput($event, 'password')"
      >
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Подтвердите пароль </mat-label>
      <input
        type="password"
        matInput
        formControlName="confirmPassword"
        (keydown)="disableKeyboardInput($event, 'password')"
      >
    </mat-form-field>

    <div *ngIf="isFormSubmitted && !userRegistrationForm.valid">
        Необходимо заполнить обязательные поля
    </div>

    <button
      type="submit"
      class="sign-up-controls-button"
      (click)="onSubmit()"
      [disabled]="isFormSubmitted && userRegistrationForm.valid"
      mat-raised-button color="primary"
    >
      Зарегистрироваться
    </button>
  </form>
</main>
