<lc-modal-layout [headerTitle]="data.action === ActionEnum.Block ? ModalEnum.BlockTitle : ModalEnum.UnblockTitle">
  <ng-container body>
    <p>
      {{data.action === ActionEnum.Block ? ModalEnum.BlockConfirmationText : ModalEnum.UnblockConfirmationText}}
      <strong>{{data.user.name}}{{data.user.surname ? ' ' + data.user.surname : ''}}</strong>?
    </p>
    <p>{{data.action === ActionEnum.Block ? ModalEnum.BlockDescriptionText : ModalEnum.UnblockDescriptionText}}</p>
  </ng-container>
  <ng-container footer>
    <div class="buttons">
      <button mat-button class="cancel" [mat-dialog-close]="false">
        {{ ModalEnum.CancelButtonText }}
      </button>
      <button mat-raised-button color="primary" (click)="blockUser()">
        {{ data.action === ActionEnum.Block ? ModalEnum.BlockButtonText : ModalEnum.UnblockButtonText }}
      </button>
    </div>
  </ng-container>
</lc-modal-layout>
