<form
  [formGroup]="equipmentRegistrationForm"
  class="registration-form"
  [ngClass]="{ 'registration-form-submitted': isFormSubmitted }"
>
  <div class="registration-form-field">
    <mat-form-field>
      <mat-label>Категория</mat-label>
      <mat-select
        formControlName="category"
        lcValidationErrors
        (valueChange)="setSubcategoryDisabledState($event)"
      >
        <mat-option
          *ngFor="let option of equipmentCategories$ | async"
          [value]="option.id"
        >{{ option.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field>
      <mat-label>Подкатегория</mat-label>
      <mat-select
        formControlName="subCategory"
        lcValidationErrors
      >
        <mat-option
          *ngFor="let option of subcategoryOptions"
          [value]="option.id"
        >{{ option.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Стоимость компенсации в случае утраты/порчи, руб.</mat-label>
      <input
        matInput
        type="number"
        formControlName="compensationCost"
        lcValidationErrors
      >
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill">
      <mat-label>Технические Ососбенности</mat-label>
      <mat-select
        formControlName="technicalIssues"
        (valueChange)="setConditionState($event)"
        lcValidationErrors
      >
        <mat-option
          *ngFor="let item of technicalIssuesOptions"
          [value]="item"
        >{{ item }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Состояние исправности</mat-label>
      <textarea
        matInput
        [maxlength]="1000"
        formControlName="condition"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Инвентарный номер</mat-label>
      <input
        matInput
        type="number"
        [max]="maxInventoryNumberValue"
        formControlName="inventoryNumber"
        lcValidationErrors
      >
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Поставщик</mat-label>
      <input
        matInput
        formControlName="supplier"
        lcValidationErrors
      >
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill" class="registration-form-field-input">
      <mat-label>Дата поступления в фонд</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="receiptDate"
        lcValidationErrors
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Ссылка на правила пользования</mat-label>
      <input
        matInput
        type="url"
        formControlName="termsOfUse"
        lcValidationErrors
      >
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Название</mat-label>
      <input
        matInput
        formControlName="name"
        lcValidationErrors
      />
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Наименование</mat-label>
      <input
        matInput
        formControlName="title"
        lcValidationErrors
      >
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Описание</mat-label>
      <textarea
        matInput
        formControlName="description"
        lcValidationErrors
      ></textarea>
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Животное</mat-label>
      <mat-select
        formControlName="petKinds"
        multiple
        lcValidationErrors
      >
        <mat-option
          *ngFor="let kind of petKinds$ | async"
          [value]="kind.id"
        >
          {{ kind.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field appearance="fill">
      <mat-label>Рaзмер животного</mat-label>
      <mat-select
        formControlName="petSize"
        lcValidationErrors
      >
        <mat-option
          *ngFor="let size of petSize$ | async"
          [value]="size.id"
        >{{ size.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field>
      <mat-label>В руки, до (штук)</mat-label>
      <input
        matInput
        type="number"
        formControlName="maximumAmount"
        lcValidationErrors
      >
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <mat-form-field>
      <mat-label>Срок, до (суток)</mat-label>
      <input
        matInput
        type="number"
        formControlName="maximumDays"
        lcValidationErrors
      >
    </mat-form-field>
  </div>

  <div class="registration-form-field photo-field">
    <button
      type="button"
      class="registration-controls-button"
      (click)="choosePhoto()"
      mat-raised-button>прикрепить фото</button>
    <mat-form-field>
      <mat-label>Фото оборудования</mat-label>
      <input
        matInput
        formControlName="photoID"
        type="text"
        (keydown)="preventDefault($event)"
      />
    </mat-form-field>

  </div>

  <div class="hidden" >
    <input
      #photoInput
      class="registration-form-field-input"
      type="file"

      (change)="addPhoto($event)"
    />
  </div>

  <div class="registration-actions">
    <button
      class="registration-controls-button"
      (click)="onSubmit()"
      mat-raised-button color="primary">Зарегистрировать</button>
    <button
      class="registration-controls-button"
      (click)="onCancel()"
      mat-raised-button
      color="accent"
    >Отмена</button>
  </div>
</form>
