<form
  [formGroup]="equipmentRegistrationForm"
  class="registration-form"
  [ngClass]="{ 'registration-form--submitted': isFormSubmitted }"
>
  <span>* - обязательные поля</span>
  <div class="registration-form-field">
    <label
      >Наименование
      <span class="registration-form-field-required">*</span></label
    >
    <input
      class="registration-form-field-input"
      type="text"
      formControlName="name"
    />
  </div>
  <div class="registration-form-field">
    <label
      >Название <span class="registration-form-field-required">*</span></label
    >
    <input
      class="registration-form-field-input"
      type="text"
      formControlName="title"
    />
  </div>
 
  <div class="registration-form-field">
    <label>Подпись</label>
    <input
      class="registration-form-field-input"
      type="text"
      formControlName="nameSubstring"
    />
  </div>

  <div class="registration-form-field">
    <label
      >Описание <span class="registration-form-field-required">*</span></label
    >
    <textarea
      class="registration-form-field-input"
      formControlName="description"
    ></textarea>
  </div>

  <div class="registration-form-field">
    <label
      >Категория <span class="registration-form-field-required">*</span></label
    >
    <select
      class="registration-form-field-input"
      formControlName="category"
      (change)="setSubcategoryDisabledState()"
    >
      <option [value]="-1" disabled selected>-</option>
      <option *ngFor="let kind of kinds$ | async" [value]="kind.id">
        {{ kind.name }}
      </option>
    </select>
  </div>

  <div class="registration-form-field">
    <label
      >Подкатегория
      <span class="registration-form-field-required">*</span></label
    >
    <select class="registration-form-field-input" formControlName="subCategory">
      <option [value]="0" selected>-</option>
    </select>
  </div>

  <div class="registration-form-field">
    <label
      >Стоимость компенсации в случае утраты/порчи, руб.
      <span class="registration-form-field-required">*</span></label
    >
    <input
      class="registration-form-field-input"
      type="number"
      formControlName="compensationCost"
      (keydown)="disableKeyboardInput($event, 'compensationCost')"
    />
  </div>

  <div class="registration-form-field">
    <label>Состояние исправности</label>
    <input
      class="registration-form-field-input"
      type="text"
      formControlName="condition"
      (keydown)="disableKeyboardInput($event, 'condition')"
    />
  </div>

  <div class="registration-form-field">
    <label
      >Инвентарный номер
      <span class="registration-form-field-required">*</span></label
    >
    <input
      class="registration-form-field-input"
      type="number"
      formControlName="inventoryNumber"
      (keydown)="disableKeyboardInput($event, 'inventoryNumber')"
    />
  </div>

  <div class="registration-form-field">
    <label
      >Поставщик <span class="registration-form-field-required">*</span></label
    >
    <input
      class="registration-form-field-input"
      type="text"
      formControlName="supplier"
      (keydown)="disableKeyboardInput($event, 'supplier')"
    />
  </div>

  <div class="registration-form-field">
    <label
      >Дата поступления в фонд
      <span class="registration-form-field-required">*</span></label
    >
    <mat-form-field appearance="fill" class="registration-form-field-input">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="receiptDate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="registration-form-field">
    <label
      >Ссылка на правила пользования
      <span class="registration-form-field-required">*</span></label
    >
    <input
      class="registration-form-field-input"
      type="text"
      formControlName="termsOfUse"
      (keydown)="disableKeyboardInput($event, 'termsOfUse')"
    />
  </div>

  <div class="registration-form-field">
    <label
      >В руки, до (штук)
      <span class="registration-form-field-required">*</span></label
    >
    <input
      class="registration-form-field-input"
      type="number"
      formControlName="maximumAmount"
    />
  </div>

  <div class="registration-form-field">
    <label
      >Срок, до (суток)
      <span class="registration-form-field-required">*</span></label
    >
    <input
      class="registration-form-field-input"
      type="number"
      formControlName="maximumDays"
    />
  </div>
</form>
<div
  *ngIf="isFormSubmitted && !equipmentRegistrationForm.valid"
  class="registration-warning"
>
  Необходимо заполнить обязательные поля
</div>
<div class="registration-controls">
  <button
    class="registration-controls-button"
    (click)="onCancel()"
    mat-raised-button
  >
    Отмена
  </button>
  <button
    class="registration-controls-button"
    (click)="onSubmit()"
    mat-raised-button
    color="primary"
  >
    Зарегистрировать
  </button>
</div>
