:host {
    display: block;
}

.registration {
    &-form {
      display: flex;
      flex-direction: column;
      max-width: 844px;
      margin: auto;
      padding-right: 25px;
      padding-left: 25px;

        &-field {
          margin-top: 16px;

          mat-form-field {
            width: 100%;
          }
        }

      .photo-field {
        display: flex;
        align-items: center;
        flex-direction: row;

        .registration-controls-button {
          width: 200px;
          height: 40px;
          margin-right: 20px;
        }
      }
    }

    &-actions {
      display: flex;
      padding-top: 24px;
      padding-bottom: 24px;

      button {
        flex-basis: calc(50% - 8px);

        &:first-of-type {
          margin-right: 16px;
        }
      }
    }
}

.hidden {
  display: none;
}
