<section>
    <div class="information">
        <div class="logo">
            <img src="assets/img/logo.svg" alt="Логотип">
        </div>
        <h3>Подтвердите аккаунт</h3>
        <p class="message">Для завершения регистрации, пройдите по ссылке в письме. Письмо отправлено на указанную почту.</p>
        <p class="mail">{{ user?.email }}</p>
    </div>
    <button
        mat-raised-button
        color="primary"
        (click)="resedMailConfirmation()"
    >
        ОТПРАВИТЬ СНОВА
    </button>
</section>

