<main class="login">
  <form
    [formGroup]="loginForm"
    class="login-form"
  >
    <mat-form-field floatLabel="auto">
      <mat-label>Эл. почта </mat-label>
      <input
        matInput
        maxlength="49"
        formControlName="login"
        [lcValidationErrors]="formName"
      >

    </mat-form-field>
    <mat-form-field floatLabel="auto">
      <mat-label>Пароль</mat-label>
      <input
        class="input-password"
        type="password"
        maxlength="49"
        matInput
        formControlName="password"
        [lcValidationErrors]="formName"
        lcHideText
      >
      <button class="reset" (click)="onOpenResetPassword($event)">восстановить</button>
    </mat-form-field>

    <mat-slide-toggle
      [checked]="rememberMe"
      (change)="onChangeRememberMe($event.checked)"
    >
      Запомнить меня
    </mat-slide-toggle>

    <div class="login-controls">
      <button
        type="submit"
        class="sign-up-controls-button"
        (click)="onLogin()"
        mat-raised-button color="primary"
      >Продолжить</button>
    </div>
  </form>
</main>
