<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [autoFocus]="false"
      [attr.role]="'dialog'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar class="nav-head">
      <button type="button" class="close" mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list class="nav-list">
      <a *ngFor="let link of links" class="nav-link" mat-list-item [routerLink]="link.route" [routerLinkActive]="['active']">{{link.name}}</a>
    </mat-nav-list>
    <button>Выйти</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <lc-main-header [pageTitle]="(title | async)!" (toggleMenu)="drawer.toggle()"></lc-main-header>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
