<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [autoFocus]="false"
    [attr.role]="'dialog'"
    [mode]="'over'"
    [opened]="false">
    <div class="nav-wrapper">
      <mat-toolbar class="nav-head">
        <button type="button" class="close" mat-icon-button (click)="drawer.toggle()">
          <mat-icon class="close-icon">close</mat-icon>
        </button>
      </mat-toolbar>
      @if (isEmailConfirmed$ | async) {
        <mat-nav-list class="nav-list">
          @for (link of userLinks; track link) {
            <a
              class="nav-link"
              mat-list-item
              [routerLink]="link.route"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="drawer.toggle()"
            >{{link.name}}</a>
          }
          @if (adminLinks.length) {
            <mat-divider class="divider"></mat-divider>
          }
          @for (link of adminLinks; track link) {
            <a
              class="nav-link"
              mat-list-item
              [routerLink]="link.route"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="drawer.toggle()"
            >{{link.name}}</a>
          }
        </mat-nav-list>
      } @else {
        @if (profileLink) {
          <mat-nav-list class="nav-list">
            <a
              class="nav-link"
              mat-list-item
              [routerLink]="profileLink.route"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="drawer.toggle()"
            >{{profileLink.name}}</a>
          </mat-nav-list>
        }
      }
      <button type="button" class="logout-btn" (click)="logout(); drawer.toggle()">Выйти</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (isAuthenticated$ | async) {
      <mat-toolbar color="primary">
        <lc-main-header (toggleMenu)="drawer.toggle()"></lc-main-header>
      </mat-toolbar>
    }
    <main class="main-content">
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
