<section class="my-application-details">
  @if (details(); as details) {
    <div class="my-application-details__content">
      <h2 class="my-application-details__title">{{ details.equipments[0].title }}</h2>
      <div class="my-application-details__image">
        <img [src]="details.equipments[0].imageUrl || 'assets/images/no-photo.png'"
             [alt]="details.equipments[0].name"
        />
      </div>
      <div class="my-application-details__info">
        <div class="my-application-details__rent-period">
          <mat-icon class="my-application-details__info-icon">info</mat-icon>
          <p>Период аренды {{ toDate(details.rent_start) | date:'dd.MM.yyyy':'UTC' }}
            — {{ toDate(details.rent_end) | date:'dd.MM.yyyy':'UTC' }}</p>
        </div>

        @if (details.equipments[0].description) {
          <div class="my-application-details__desc">
            <p>{{ details.equipments[0].description }}</p>
          </div>
        }
      </div>
    </div>
    <div class="my-application-details__actions">
      <button mat-button color="primary" (click)="editPeriod()">
        РЕДАКТИРОВАТЬ ПЕРИОД
      </button>
      <button mat-button color="warn" (click)="deleteApplication()">
        УДАЛИТЬ ЗАЯВКУ
      </button>
    </div>
  }
</section>
