<article class="my-application-details">
  <h2 class="my-application-details__title">Клетка для кошек</h2>
  <div class="my-application-details__image">
    <img ngSrc="https://images.uzum.uz/ck0nfn4jvf2qegt3fv7g/original.jpg" alt="оборудование" fill placeholder/>
  </div>
  <div class="my-application-details__info">
    <div class="my-application-details__rent-period">
      <mat-icon class="my-application-details__info-icon">info</mat-icon>
      <p>Период аренды 21.03.23 — 30.03.23</p>
    </div>
    <div class="my-application-details__desc">
      <p>Клетка для передержки, изоляции и содержания. Подойдет и в качестве спального места для беспокойных питомцев.</p>
    </div>
  </div>
  <div class="my-application-details__actions">
    <button mat-button color="primary">
      РЕДАКТИРОВАТЬ ПЕРИОД
    </button>
    <button mat-button color="warn">
      УДАЛИТЬ ЗАЯВКУ
    </button>
  </div>
</article>
