:host {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  justify-content: space-between;
}

.page-forbidden {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  font-size: 80px;
  justify-content: center;
  line-height: 2;
}
