<lc-modal-layout [headerTitle]="ModalEnum.BlockTitle">
  <ng-container body>
    <lc-equipment-info
      [equipment]="equipment"
    ></lc-equipment-info>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Период блокировки</mat-label>
        <mat-date-range-input [min]="minDate">
          <input
            matStartDate
            formControlName="startDate"
            placeholder="Начало"
            [lcValidationErrors]="formName"
            >
            <input
              matEndDate
              formControlName="endDate"
              placeholder="Конец"
              [lcValidationErrors]="formName"
              >
            </mat-date-range-input>
            <mat-datepicker-toggle
              matIconSuffix
              (click)="openDatePicker()"
            ></mat-datepicker-toggle>
          </mat-form-field>
        </form>
      </ng-container>
      <ng-container footer>
        <div class="buttons-wrapper">
          <div class="buttons">
            @if (equipment?.blockingPeriods) {
              <button
                mat-button class="cancel"
                [mat-dialog-close]="'unblock equipment'"
                >
                {{ ModalEnum.BlockCancelButtonText }}
              </button>
            }
            <button mat-raised-button color="primary" (click)="blockEquipment()">
              {{ equipment?.blockingPeriods ? ModalEnum.EditEquipmentModalButtonText : ModalEnum.BlockApplyButtonText }}
            </button>
          </div>
        </div>
      </ng-container>
    </lc-modal-layout>
