@import 'src/app/shared/styles/variables';

:host {
  display: block;
}

form {
  margin-top: 24px;

  mat-form-field {
    width: 100%;
  }

  .date {
    max-width: 200px;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .cancel {
    font-style: normal;
    font-weight: 500;
    color: #00677F;
  }

  button {
    font-style: normal;
    font-weight: 400;
    margin-right: 24px;
    line-height: 20px;
    text-transform: uppercase;
    height: 56px;
    border-radius: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
