<button mat-flat-button class="reset-filters-btn" (click)="resetFilters()">
  <mat-icon>filter_alt_off</mat-icon>
  Сбросить фильтры
</button>
<table
  mat-table
  matSort
  [dataSource]="dataSource"
  >
  <!-- Generate the columns dynamically -->
  @for (column of columns; track column) {
    <ng-container
      [matColumnDef]="column.columnDef"
      >
      @if (column.action) {
        <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
      }
      @if (!column.action) {
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ column.header }}
          <div class="filter-buttons">
            <lc-table-filter
              [data]="data"
              [columnDef]="column.columnDef"
              [placeholder]="column.header"
              [isAllFiltersReset]="isAllFiltersReset"
              (filterSelected)="filterTableData($event)"
              [activeFilters]="activeFilters"
            ></lc-table-filter>
          </div>
        </th>
      }
      <td mat-cell *matCellDef="let row" [ngStyle]="column.style">
        <span [matTooltip]="column | tableActionTooltip: row">
          @if (!column.action) {
            {{ row[column.columnDef] }}
          }
          @if (column.action) {
            <button
              mat-icon-button
              [disabled]="column | tableDisableAction: row"
              (click)="editRow({row, action:column.action })"
              >
              <mat-icon fontSet="material-icons-outlined">{{ column.action }}</mat-icon>
            </button>
          }
        </span>
      </td>
    </ng-container>
  }

  <!-- Set the displayed columns -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr *matNoDataRow>
    <td class="no-data-message"  [attr.colspan]="displayedColumns.length">
      Нет данных соответствующих выбранным критериям
    </td>
  </tr>
</table>
<mat-paginator
  class="paginator"
  #paginator
  hidePageSize
  [length]="total"
  [pageSize]="limit"
></mat-paginator>
