.content {
  lc-fake-input {
    margin-bottom: 20px;
  }
  .status {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    lc-fake-input {
      width: 200px;
      margin-bottom: 0;
    }
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .cancel{
    margin-right: 24px;
    font-style: normal;
    font-weight: 500;
    color: #00677F;
  }

  button{
    height: 56px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 16px;
    text-transform: uppercase;
  }
}
