<lc-modal-layout headerTitle="Изменить статус заявки">
  <ng-container body>
    <div *ngIf="equipment" class="content">
      <lc-fake-input
        label="Название"
        [text]="equipment.title"
      ></lc-fake-input>
      <lc-fake-input
        label="Наименование"
        [text]="equipment.name"
      ></lc-fake-input>
      <lc-fake-input
        label="Инвентарный номер"
        [text]="equipment.inventoryNumber"
      ></lc-fake-input>
      <lc-fake-input
        label="Период бронирования"
        [text]="rentPeriod"
      ></lc-fake-input>
      <div class="status" [formGroup]="form">
        <lc-fake-input
          label="Актуальный статус"
          [text]="statusName"
        ></lc-fake-input>
        <mat-form-field *ngIf="statuses" floatLabel="auto">
          <mat-label>Новый статус</mat-label>
          <mat-select
            formControlName="newStatusId"
            [lcValidationErrors]="formName"
          >
            <mat-option
              *ngFor="let option of statuses"
              [value]="option.name"
            >{{ option.translation }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </ng-container>
  <ng-container footer>
    <div class="buttons">
      <button
        mat-button
        class="cancel"
        [mat-dialog-close]="false"
      >
        Отменить
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="saveStatus()"
      >
        Сохранить
      </button>
    </div>
  </ng-container>
</lc-modal-layout>
