<lc-modal-layout headerTitle="{{ filterModalLabels.headerTitle }}" (closed)="onModalClose()">
  <ng-container body>
    <form id="filterForm" [formGroup]="filterForm" ngxsForm="catalog.equipmentFilterForm" (ngSubmit)="showEquipments()">
      <section *ngIf="petKinds" class="pet-kind-container" formArrayName="petKinds">
        <mat-label class="label">{{ filterModalLabels.petKindsLabel }}</mat-label>
        <mat-checkbox *ngFor="let petKind of petKindsFormArray.controls; let i = index"
                      [formControlName]="i" class="pet-kind-item">{{ petKinds[i].name }}</mat-checkbox>
      </section>
      <section *ngIf="petSizes" class="pet-size-container" formArrayName="petSizes">
        <mat-label class="label">{{ filterModalLabels.petSizesLabel }}</mat-label>
        <mat-checkbox *ngFor="let petSize of petSizesFormArray.controls; let i = index"
                      [formControlName]="i"
                      class="pet-size-item">{{ petSizes[i].name }} {{!petSizes[i].is_universal ? (petSizes[i].size) : ''}}</mat-checkbox>
      </section>
      <section class="equipment-condition-container">
        <mat-slide-toggle class="equipment-condition" formControlName="idealCondition">
          {{ filterModalLabels.idealConditionLabel }}
        </mat-slide-toggle>
      </section>
    </form>
  </ng-container>
  <ng-container footer>
    <section class="filter-actions">
      <ng-container *ngIf="filterForm.dirty">
        <button type="button" mat-button color="primary" class="filter-reset modal-action-button"
                (click)="resetFilters()">
          <div class="inner"><i class="cross"></i> <span>{{ filterModalLabels.clearFiltersButtonLabel }}</span></div>
        </button>
        <button
          form="filterForm"
          type="submit"
          mat-raised-button
          color="primary"
          class="modal-action-button"
          [mat-dialog-close]="false"
        >
          {{ filterModalLabels.submitButtonLabel }} :

          <ng-container *ngIf="count !== undefined">
            {{count}}
          </ng-container>

          <ng-container *ngIf="count === undefined">
            <mat-progress-spinner
              class="example-margin"
              color="accent"
              mode="indeterminate"
              diameter="20"
            ></mat-progress-spinner>
          </ng-container>
        </button>
      </ng-container>
      <ng-container *ngIf="!filterForm.dirty">
        <button
          type="button"
          mat-raised-button
          color="primary"
          class="modal-action-button"
          [mat-dialog-close]="false"
          (click)="showEquipments()"
        >
          {{ filterModalLabels.applyButtonLabel }}
        </button>
      </ng-container>
    </section>
  </ng-container>
</lc-modal-layout>
