<div class="filter-modal" [formGroup]="filterGroup">
  <div class="filter-modal__header">
    <h2 class="filter-modal__title">Фильтр</h2>
    <div (click)="closeModal()">
      <img src="assets/img/icons/icon-close.svg" alt="icon-close" />
    </div>
  </div>
  <div>
    <h3 class="filter-modal__subtitle">Животное</h3>
    <div class="filter-modal__checkbox" formGroupName="petKinds">
      <mat-checkbox *ngFor="let petKind of petKinds" [formControlName]="petKind.id">{{ petKind.name }}</mat-checkbox>
    </div>
    <div>
      <h3 class="filter-modal__subtitle">Размер</h3>
      <div class="filter-modal__size">
        <mat-chip-list selectable multiple ngFor="let petSize of petSizes">
          <mat-chip
            *ngFor="let petSize of petSizes"
            [attr.data-size]="petSize.id"
            #size="matChip"
            (click)="changeSelectedValue($event)"
            [selected]="filterValue.petSize.includes(petSize.id)"
            >{{ petSize.name | titlecase }} {{ petSize.size | size }}</mat-chip
          >
        </mat-chip-list>
      </div>
      <div>
        <h3 class="filter-modal__subtitle">Техническое состояние</h3>
        <div class="filter-modal__center">
          <mat-slide-toggle formControlName="technicalIssues" #slide class="filter-modal__slide-toggle">
            <span>В идеальном состоянии</span>
          </mat-slide-toggle>
        </div>
      </div>
      <div class="filter-modal__center">
        <button
          *ngIf="
            selectedPetKinds.includes(true) ||
            selectedPetSize.includes(true) ||
            this.filterGroup.get('technicalIssues')?.value === true
          "
          class="filter-modal__reset-btn"
          (click)="resetFilter()"
        >
          <img src="assets/img/icons/icon-reset.svg" alt="icon-reset" />
          <span>Очистить фильтры</span>
        </button>
      </div>
      <div class="filter-modal__center">
        <ng-container
          *ngIf="
            selectedPetKinds.includes(true) ||
              selectedPetSize.includes(true) ||
              this.filterGroup.get('technicalIssues')?.value === true;
            else close
          "
        >
          <button (click)="closeModal()" class="filter-modal__btn">Показать товаров: {{ count }}</button>
        </ng-container>
        <ng-template #close>
          <button (click)="closeModal()" class="filter-modal__btn">Закрыть</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>