@import '../../../shared/styles/variables.scss';

.filter-modal {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #cfdbe5;
  }

  &__title {
    padding-top: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding-top: 12px;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
  }

  &__size {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__subtitle {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  &__slide-toggle {
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-top: 10px;
    height: 64px;
    width: 270px;
    border-radius: 15px;
    background-color: #f2f7f9;
    color: $color-description-text;
    font-size: 14px;
  }

  &__sort {
    display: flex;
    gap: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    height: 55px;
    width: 270px;
    padding: 0px 16px 0px 16px;
    background-color: #005f75;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-align: center;
    text-transform: uppercase;
  }

  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  &__reset-btn {
    display: flex;
    padding: 0;
    border: none;
    background: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    gap: 8px;
    font-weight: 500;
    color: $color-title;
  }
}

.mat-slide-toggle.mat-checked {
  color: black !important;
}

.mat-checkbox.mat-checked {
  color: black !important;
}

mat-checkbox {
  color: $color-description-text;
}

mat-chip {
  color: #005f75 !important;
  font-size: 10px !important;
  border: 2px solid #cfdbe5;
}

.mat-chip-selected {
  color: white !important;
}

::ng-deep .mat-checkbox-checked {
  color: black !important;
}
