@import '../../../shared/styles/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

.catalog {
  background: @color-bg-base;
  border-radius: 30px;
  height: 100%;
  padding: 28px;
}

.catalog-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
