<section class="catalog">
  <form class="search-form">
    <mat-form-field class="" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  
  <div class="catalog-list">
    <div *ngFor="let equipment of catalog$ | async">
      <lc-preview-equipment-card
      [equipmentName]="equipment.name"
      [equipmentInfo]="equipment.info"
      [equipmentImg]="equipment.imgSrc"
      (onInfo)="onCardInfo()"
      (onOrder)="onCardOrder()"
    >
    </lc-preview-equipment-card>
    </div>
  </div>
</section>
