<section class="equipment-item">
  <h2 class="equipment-item__title">{{ equipment?.title }}</h2>
  <img #image class="equipment-item__img" [src]="defaultImage" alt="equipment photo" />
  <div class="equipment-info-list">
    <div class="equipment-info-list__item">
      <div class="info-item">
        <p class="info-item__description">
          {{ equipment?.description }}
        </p>
        <div class="info-item__wrapper">
          <div><img src="assets/img/icons/icon-term.svg" alt="term" /></div>
          <div>
            <p>Максимальный срок использования</p>
            <p class="info-item__condition">{{ dayCases | numberDeclension: equipment?.maximumDays }}</p>
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="info-item__wrapper">
          <div><img src="assets/img/icons/icon-compensation.svg" alt="compensation" /></div>
          <div>
            <p>Плата за порчу оборудования</p>
            <p class="info-item__condition">{{ equipment?.compensationCost }} &#8381;</p>
          </div>
        </div>
      </div>
      <div class="info-item" *ngIf="equipment?.technicalIssues === 'есть'; else new">
        <div class="info-item__wrapper">
          <div><img src="assets/img/icons/icon-used.svg" alt="used" /></div>
          <div>
            <p class="info-item__used">Б/у состояние</p>
            <p class="info-item__condition">{{ equipment?.condition }}</p>
          </div>
        </div>
      </div>
      <ng-template #new>
        <div class="info-item">
          <div class="info-item__wrapper">
            <div><img src="assets/img/icons/icon-new.svg" alt="new" /></div>
            <div>Новое</div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="actions">
    <button class="equipment-item__calendar-btn">Выберите период заявки</button>
  </div>
</section>
