<section class="equipment-item" >
  <img #image class="equipment-item__img" [src]="defaultImage" alt="equipment photo">
  <h2 class="equipment-item__title">{{ equipment?.title }}</h2>
  <div class="equipment-item__description">
    {{ equipment?.description }}
  </div>
  <div class="equipment-info-list">
    <div class="equipment-info-list__item">
      <div class="info-item">
        <h3 class="info-item__title">Срок</h3>
        <button
          mat-icon-button
          (click)="tooltip.show()"
          mat-raised-button #tooltip="matTooltip"
          matTooltip="Максимальный срок использования оборудования, дней"
          matTooltipPosition="right">
          <mat-icon>help_outline</mat-icon>
        </button>
        <div>До {{ equipment?.maximumDays}} суток</div>
      </div>
      <div class="info-item">
        <h3 class="info-item__title">В руки</h3>
        <button
          mat-icon-button
          (click)="tooltip1.show()"
          mat-raised-button #tooltip1="matTooltip"
          matTooltip="Максимальное количество единиц в руки"
          matTooltipPosition="right">
          <mat-icon>help_outline</mat-icon>
        </button>
        <div>До {{ equipment?.maximumAmount}} шт.</div>
      </div>
      <div  class="info-item">
        <h3 class="info-item__title">Компенсация</h3>
        <button
          mat-icon-button
          (click)="tooltip2.show()"
          mat-raised-button #tooltip2="matTooltip"
          matTooltip="Стоимость компенсации в случае утраты/порчи, руб."
          matTooltipPosition="right">
          <mat-icon>help_outline</mat-icon>
        </button>
        <div>{{ equipment?.compensationCost}} &#8381;</div>
      </div>
    </div>
    <div class="equipment-info-list__item">
      <div class="info-item">
        <h3 class="info-item__title">Состояние</h3>
        <div>{{ equipment?.condition}}</div>
      </div>
    </div>
  </div>
</section>
