@import 'variables.scss';

.hide-text-icon {
  position: absolute;
  right: 10px;
  top: -1px;
  height: 13px;
  width: 16px;
  cursor: pointer;
  background-color: $color-eye-icon;
  background-position: center;
  background-repeat: no-repeat;
}

.eye-open {
  mask-image: url("../../../assets/img/icons/eye-open.svg");
}

.eye-closed {
  mask-image: url("../../../assets/img/icons/eye-closed.svg");
}
