@use '@angular/material' as mat;

$lc-primary-palette: (
  50: #F2F7F9,
  100: #EAF0F1,
  200: #CFDBE6,
  300: #A5C4D5,
  400: #87AFBC,
  500: #4D8F9E,
  600: #005F75,
  700: #2C5667,
  800: #2C5667,
  900: #16323E,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  )
);

// $lc-primary-contrast-palette: (
//   50: black,
//   100: black,
//   200: black,
//   300: black,
//   400: black,
//   500: white,
//   600: white,
//   700: white,
//   800: white,
//   900: white,
//   contrast: (
//     50: rgba(#F2F7F9, 0.87),
//     100: rgba(#EAF0F1, 0.87),
//     200: rgba(#CFDBE6, 0.87),
//     300: rgba(#A5C4D5, 0.87),
//     400: rgba(#87AFBC, 0.87),
//     500: rgba(#4D8F9E, 0.87),
//     600: rgba(#005F75, 0.87),
//     700: rgba(#2C5667, 0.87),
//     800: rgba(#2C5667, 0.87),
//     900: rgba(#16323E, 0.87),
//   )
// );

$lc-warn-palette: (
  50: #FFEDEA,
  100: #FFDAD6,
  200: #FFB4AB,
  300: #FF897D,
  400: #FF5449,
  500: #DE3730,
  600: #BA1A1A,
  700: #93000A,
  800: #690005,
  900: #410002,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  )
);

$lc-white-palette: (
  50: #F2F7F9,
  100: #F2F7F9,
  200: #F2F7F9,
  300: #F2F7F9,
  400: #F2F7F9,
  500: #F2F7F9,
  600: #F2F7F9,
  700: #F2F7F9,
  800: #F2F7F9,
  900: #F2F7F9,
  contrast: (
    50: rgba(#16323E, 0.87),
    100: rgba(#16323E, 0.87),
    200: rgba(#16323E, 0.87),
    300: rgba(#16323E, 0.87),
    400: rgba(#16323E, 0.87),
    500: rgba(#16323E, 0.87),
    600: rgba(#16323E, 0.87),
    700: rgba(#16323E, 0.87),
    800: rgba(#16323E, 0.87),
    900: rgba(#16323E, 0.87),
  )
);

$lc-primary: mat.define-palette($lc-primary-palette, 600);
$lc-warn: mat.define-palette($lc-warn-palette, 500);
$lc-white: mat.define-palette($lc-white-palette);

$lc-theme: mat.define-light-theme((
  color: (
    primary: $lc-primary,
    accent: $lc-white,
    warn: $lc-warn,
  )
));

@include mat.legacy-core-theme($lc-theme);
@include mat.all-component-themes($lc-theme)
