mat-dialog-container {
  border-radius: 40px 40px 40px 40px !important;
  padding: 0 !important;
  margin: 0 16px;
}

.paginator .mat-paginator-outer-container .mat-paginator-container {
  justify-content: flex-start;
}
