.mat-dialog-container {
  border-radius: 40px 40px 40px 40px !important;
  padding: 0 !important;
}

.paginator .mat-paginator-outer-container .mat-paginator-container {
  justify-content: flex-start;
}

.modal-action-button {
  width: 100%;
  border-radius: 10px !important;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-size: 16px;
  padding: 10px 16px !important;
}
