.mat-form-field-subscript-wrapper {
  transform: translateY(0%);
}

snack-bar-container.mat-snack-bar-container {
  padding: 0;
  min-height: 0;
  border-radius: 16px;
  &.mat-snack-bar-top {
    margin: 0;
  }
}
