/* Palette */

// main colors
$main: #005F75;
$light-blue: #DDF5FF;

//notifications colors
$notification-error-color:#f20e37;
$notification-warning-color:#ffc700;
$error-icon: #FA4B4B;
$success-icon: #67A300;

$color-title: #005F75;
$color-title-lite: #87AFBC;
$color-description-text: #b3b3b3;
$color-accent-text: #2C5667;
$color-text-gray: #656565;
$button-color-white: #ffffff;

$color-bg-main: #EAF0F1;
$color-bg-base: #ffffff;

$color-eye-icon: #4D8F9E;

$color-label: #2C5667;
