@import '/src/app/shared/styles/variables';

.profile-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  height: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.action-btn {
  padding: 16px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.note {
  margin: 0;
  a {
    color: $main;
    text-decoration: none;
  }
}
