<div class="modal">
  <section class="modal-header">
    <h3>{{ headerTitle }}</h3>
    <div *ngIf="activeCloseIcon" class="cross-container">
      <button mat-icon-button class="close-button" (click)="close()">
        <i class="cross"></i>
      </button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section mat-dialog-content class="modal-body">
    <ng-content select="[body]"></ng-content>
  </section>
  <mat-divider></mat-divider>
  <section class="modal-footer">
    <ng-content select="[footer]"></ng-content>
  </section>
</div>
