@import "./src/app/shared/styles/variables";
@import "./src/app/shared/styles/mixins";

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
  padding: 0 28px;

  @include cross();

  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .cross-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal-footer {
  margin: 16px 24px;
}

.mat-dialog-actions {
  padding: 0;
  align-items: stretch;
  min-height: 56px;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 24px;
  width: 24px;
}

@media screen and (max-height: 768px) {
  .modal-body {
    max-height: 320px;
  }
}
