@import '../../styles/variables';

:host {
  display: block;
}

.user-details {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__edit {
    color: $main;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

