<lc-modal-layout [headerTitle]="title">
  <ng-container body>
    @if (body) {
      <p>{{body}}</p>
    }
    <ng-container *ngComponentOutlet="contentComponent; inputs: {data: contentComponentData}">
    </ng-container>
  </ng-container>
  <ng-container footer>
    <div class="buttons">
      @if (cancelButtonText) {
        <button mat-button color="primary" [mat-dialog-close]="false">
          {{ cancelButtonText }}
        </button>
      }
      @if (applyButtonText) {
        <button mat-raised-button color="primary" [mat-dialog-close]="true">
          {{ applyButtonText }}
        </button>
      }
    </div>
  </ng-container>
</lc-modal-layout>
