<lc-modal-layout [headerTitle]="title">
  <ng-container body>
    <p *ngIf="body">{{body}}</p>
    <ng-container *ngIf="contentComponent" [ngComponentOutlet]="contentComponent"
                  [ngComponentOutletInputs]="contentComponentData">
    </ng-container>
  </ng-container>
  <ng-container footer>
    <div class="buttons">
      <button mat-button class="cancel" [mat-dialog-close]="false" *ngIf="cancelButtonText">
        {{ cancelButtonText }}
      </button>
      <button mat-raised-button color="primary" (click)="confirm()" *ngIf="applyButtonText">
        {{ applyButtonText }}
      </button>
    </div>
  </ng-container>
</lc-modal-layout>
