.buttons {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    text-transform: uppercase;
    height: 56px;
    border-radius: 10px;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    justify-content: flex-end;
    width: initial;
  }
}
