<header class="main-header">
  <button
    type="button"
    aria-label="toggle side navigation"
    mat-icon-button
    (click)="toggleMenu.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="main-header__title" *ngIf="(pageTitleDisplayed$ | async) === true">{{pageTitle$ | async}}</h1>
  <section class="actions" *ngIf="(actionsDisplayed$ | async) === true"
           [ngClass]="{'no-title': (pageTitleDisplayed$ | async) === false}">
    <lc-catalog-search (inputDisplayed)="toggleTitle($event)"></lc-catalog-search>
    <lc-catalog-filter></lc-catalog-filter>
  </section>
</header>
