@import '../../../shared/styles/variables';

:host {
  display: block;
  width: 100%;
}

.main-header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px 28px 28px;

  &__title {
    color: @color-title;
    flex: 1 1 auto;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
}
