:host {
  display: block;
  width: 100%;
}

.main-header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  &__title {
    color: white;
    flex: 1 1 auto;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    text-align: center;
    letter-spacing: 0.25px;
  }
}

.actions {
  display: flex;
  gap: 10px;

  &.no-title {
    width: 100%;
  }
}
