<header class="main-header">
  <button
    type="button"
    aria-label="toggle side navigation"
    mat-icon-button
    (click)="toggleMenu.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="main-header__title" *ngIf="showTitle">{{pageTitle$ | async}}</h1>
  <section class="actions"  *ngIf="(actionsDisplayed$ | async) === true" [ngClass]="{'no-title': !showTitle}">
    <lc-catalog-search (search)="onSearch($event)" (titleToggled)="toggleTitle()"></lc-catalog-search>
    <lc-catalog-filter></lc-catalog-filter>
  </section>
</header>
