@import "src/app/shared/styles/variables";

:host {
  display: block;
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  button {
    border: none;
    background: inherit;
    cursor: pointer;
  }
}

.content {
  margin: 20px 0;
  max-width: 340px;
}

.action{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button {
  height: 55px;
  width: 340px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
