:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .filters-button {
    background: url('../../../../assets/img/icons/filtering.svg') center no-repeat;
  }
  
  .badge {
    position: absolute;
    right: 12px;
  }
}
