<div class="table-filter" (click)="$event.stopPropagation()">
  <mat-form-field appearance="fill" class="field">
    <input
      type="text"
      matInput
      [formControl]="searchControl"
      placeholder="{{placeholder}}"
      [matAutocomplete]="auto"
      autofocus
    >
      <mat-autocomplete class="auto-complete" #auto="matAutocomplete" [displayWith]="displayOption">
        <mat-option *ngIf="currentFilteredOptions.length > 0">
          <div class="option" (click)="optionClicked($event, selectAllOption)">
            <mat-checkbox [checked]="selectAllOption.selected"
                          (change)="toggleSelection(selectAllOption)"
                          (click)="$event.stopPropagation()"
            >
              Выбрать все
            </mat-checkbox>
          </div>
        </mat-option>
        <mat-option *ngFor="let option of filteredOptions | async">
          <div class="option" (click)="optionClicked($event, option)">
            <mat-checkbox [checked]="option.selected"
                          (change)="toggleSelection(option)"
                          (click)="$event.stopPropagation()">
              {{option.row[columnDef]}}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
  <button mat-icon-button (click)="resetFilter()">
      <mat-icon>filter_alt_off</mat-icon>
  </button>
</div>
