<section class="info-modal">
  <div class="info-modal-header">
    <h2 class="title">{{ infoData.headerText }}</h2>
    <mat-icon class="icon" [mat-dialog-close]="false">close</mat-icon>
  </div>
  <div class="info-modal-container">
    <p class="message">
      {{ infoData.infoMessage }}
    </p>
    <a
      *ngIf="infoData.infoLink"
      class="link"
    >
      {{ infoData.infoLink }}
    </a>
  </div>
  <div class="info-modal-buttons">
    <button
      *ngIf="infoData.buttonCancelText"
      mat-raised-button
      color="primary"
      class="button-cancel"
      [mat-dialog-close]="false"
      type="button"
    >
      {{ infoData.buttonCancelText }}
    </button>
    <button
      mat-raised-button
      color="primary"
      class="button-confirm"
      [mat-dialog-close]="true"
      type="button"
    >
      {{ infoData.buttonOkText }}
    </button>
  </div>
</section>
