<div class="wrapper">
  @switch (data.type) {
    @case (notificationTypes.Error) {
      <mat-icon
        class="icon-error"
      >error</mat-icon>
    }
    @case (notificationTypes.Success) {
      <mat-icon
        class="icon-success"
      >check_circle</mat-icon>
    }
    @case (notificationTypes.Info) {
      <mat-icon
        class="icon-info"
      >info</mat-icon>
    }
  }
  <div class="message">
    <span>{{ data.message }}</span>
  </div>
  <button class="close_btn" (click)="dismiss()">
    <mat-icon>close</mat-icon>
  </button>
</div>
