@import '/src/app/shared/styles/variables';

:host {
  display: block;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-weight: 500;
  }

  .icon {
    &-success {
      color: $success-icon;
    }
    &-error {
      color: $error-icon;
    }
  }


  .message {
    color: black;
    padding: 3px 5px 0px 5px;
    max-width: 265px;
  }

  .close_btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
