@import '/src/app/shared/styles/variables';

:host {
  display: block;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  .title {
    font-weight: 500;
  }

  .icon {
    &-success {
      color: $success-icon;
    }
    &-info {
      color: $info-icon;
    }
    &-error {
      color: $error-icon;
    }
  }


  .message {
    color: $color-text-gray;
    max-width: 265px;
  }

  .close_btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: $close-icon-color;
  }
}
