<div class="wrapper">
  <ng-container [ngSwitch]="data.type">
    <mat-icon
      *ngSwitchCase="notificationTypes.Error"
      class="icon-error"
    >error</mat-icon>
    <mat-icon
      *ngSwitchCase="notificationTypes.Success"
      class="icon-success"
    >check_circle</mat-icon>
    <mat-icon
      *ngSwitchCase="notificationTypes.Info"
      class="icon-info"
    >info</mat-icon>
  </ng-container>
  <div class="message">
    <span>{{ data.message }}</span>
  </div>
  <button class="close_btn" (click)="dismiss()">
    <mat-icon>close</mat-icon>
  </button>
</div>
