@import "src/app/shared/styles/variables";

:host {
  display: block;

  .wrapper {

    min-height: 45px;
    width: 390px;
    padding: 18px 26px;
    border-radius: 16px;
    background-color: #323232;
    text-align: center;
  }

  .title {
    font-weight: 500;
  }

  .error {
    color: $notification-error-color;
  }

  .warning {
    color: $notification-warning-color;
  }

  .success {
    color: $color-title;
  }
}
