@import "src/app/shared/styles/variables";

:host {
  display: block;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
  }

  &-controls-button {
    height: 55px;
    width: 350px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
}

.offer {
  color: $color-description-text;
  align-items: center;
  margin: 20px 0;
  text-align: center;
  & a {
    text-decoration: underline;
    cursor: pointer;
    color: $color-title-lite;
  }
}

.actions {
  position: fixed;
  bottom: 3%;
  width: 350px;
}