<main class="sign-up">
  <form
    [formGroup]="userRegistrationForm"
    class="sign-up-form"
  >
    <mat-form-field floatLabel="auto">
      <mat-label>Эл. почта</mat-label>
      <input
        matInput
        formControlName="email"
        maxlength="49"
        (keydown)="disableKeyboardInput($event, 'email')"
        [lcValidationErrors]="formName"
      >
    </mat-form-field>

    <mat-form-field floatLabel="auto">
      <mat-label>Пароль</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        maxlength="49"
        (keydown)="disableKeyboardInput($event, 'password')"
        [lcValidationErrors]="formName"
        lcHideText
      >
    </mat-form-field>

    <mat-form-field floatLabel="auto">
      <mat-label>Пароль еще раз</mat-label>
      <input
        type="password"
        matInput
        formControlName="confirmPassword"
        maxlength="49"
        (keydown)="disableKeyboardInput($event, 'password')"
        [lcValidationErrors]="formName"
        lcHideText
      >
    </mat-form-field>

    <div class="offer">Нажимая «Продолжить» вы соглашаетесь с <a routerLink="public-offer" target="_blank">публичной офертой</a></div>

    <button
      type="submit"
      class="sign-up-controls-button"
      (click)="onSubmit()"
      mat-raised-button color="primary"
    >
      Продолжить
    </button>
  </form>
</main>
