<lc-modal-layout headerTitle="Восстановление пароля">
  <ng-container body>
    <div class="content">
      <p>Введите эл.почту, на которую мы отправим временный пароль и дальнейшие иснтрукции</p>
      <mat-form-field appearance="fill" floatLabel="auto">
        <mat-label>Эл. почта </mat-label>
        <input
          matInput
          [(ngModel)]="email"
          [ngModelOptions]="{standalone: true}"
          required
        >
      </mat-form-field>
    </div>
  </ng-container>
  <ng-container footer>
    <div class="buttons">
      <button
        mat-flat-button
        mat-dialog-close
        type="button"
      >Отменить</button>
      <button
        mat-raised-button color="primary"
        [mat-dialog-close]="email"
        type="button"
      >Сбросить</button>
    </div>
  </ng-container>
</lc-modal-layout>
