:host {
  display: block;
  min-width: 300px;
}

mat-form-field {
  margin-bottom: 28px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  p {
    display: inline-block;
    margin-bottom: 17px;
    max-width: 320px;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  button {
    height: 56px;
    border-radius: 10px;
    width: 140px;
  }
}

