<div mat-dialog-title class="title">
  <h2>Восстановление пароля </h2>

  <button [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div >
<hr/>
<div class="content">
  <p>Введите эл.почту, на которую мы отправим временный пароль и дальнейшие иснтрукции</p>
  <mat-form-field appearance="fill" floatLabel="auto">
    <mat-label>Эл. почта </mat-label>
    <input
      matInput
      [(ngModel)]="email"
      [ngModelOptions]="{standalone: true}"
      required
    >
  </mat-form-field>
</div>
<div mat-dialog-actions class="buttons">
  <button
    mat-stroked-button
    mat-dialog-close
    color="primary"
    type="button"
  >Отменить</button>
  <button
    mat-raised-button color="primary"
    [mat-dialog-close]="email"
    type="button"
  >Сбросить</button>
</div>
