/* You can add global styles to this file, and also import other style files */
@import './app/shared/styles/variables';
@import "app/shared/styles/hede-text-directive";
@import "app/shared/styles/material_theme";
@import "app/shared/styles/notification";
@import "app/shared/styles/modal-windows";
@import "app/shared/styles/mixins";

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  height: 100%;
}

body {
  position: relative;
  background: $color-bg-main;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  margin: 0;
}

lc-root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: $color-title;
}

p {
  font-weight: 400;
  color: $color-title-lite;
}

.mat-raised-button.modal-action-button {
  width: 100%;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}
