<h1>Согласие на обработку персональных данных</h1>
<p>
  В соответствии с требованиями ст. 9 Федерального закона Российской Федерации от 27 июля 2006 г. №152-ФЗ «О
  персональных данных», <b>принимаю решение о предоставлении моих персональных данных и даю согласие на их обработку
  свободно, своей волей и в своем интересе</b> Благотворительному фонду помощи бездомных животных «Лёнькин кот» (далее
  – Фонд), адрес места нахождения: : 191002, Санкт-Петербург, Свечной пер., дом 3, квартира 20. с целью заключения
  со мной договора  безвозмездного пользования имуществом.
</p>
<p>
  Персональные данные, на обработку которых распространяется данное согласие, включают в себя данные, предоставленные
  мною при заполнении договора: мои фамилия, имя, отчество, паспортные данные (номер, серия, дата выдачи, наименование
  органа, выдавшего паспорт), адрес регистрации, адрес места жительства,  личный телефон, адрес электронной почты, иная
  информация, относящаяся к моей личности и указанная мной при договора.
</p>
<p>
  Предоставляю Фонду право осуществлять все действия (операции) с моими персональными данными, включая сбор,
  систематизацию, накопление, хранение, обновление, изменение, использование, обезличивание, блокирование, удаление,
  уничтожение.
</p>
<p>
  Передача моих персональных данных иным лицам или иное их разглашение может осуществляться только с моего письменного
  согласия.
</p>
<p>
  Я оставляю за собой право отозвать свое согласие посредством составления соответствующего письменного обращения,
  которое может быть направлено мной в адрес Фонда по почте заказным письмом с уведомлением о вручении либо вручен
  лично под расписку надлежащим образом уполномоченному представителю Фонда.
</p>
<p>
  В случае получения моего письменного заявления об отзыве настоящего согласия на обработку персональных данных,
  Фонд обязан прекратить их обработку и исключить персональные данные из базы данных, в том числе электронной,
  за исключением сведений о фамилии, имени, отчестве.
</p>
<p>
  Я  осведомлен о том, что в случае отзыва субъектом персональных данных согласия на обработку персональных данных
  Фонд вправе продолжить обработку персональных данных без согласия субъекта персональных данных в соответствии с
  частью второй статьи 9 Федерального закона от 27 июля 2006 года №152-ФЗ «О персональных данных».
</p>
<p>
  Настоящее согласие дано бессрочно.
</p>
<p>
  В случае ликвидации Фонда Фонд обязан уничтожить все  имеющиеся у Фонда мои персональные данные.
</p>
