:host {
  display: block;
  width: 100%;
  height: 100%;

  table {
    width: 100%;
  }
}

.mat-column-inventoryNumber {
  width: 88px;
  padding-right: 16px;
}

.mat-column-name {
  padding-right: 16px;
}

.mat-column-name_substring {
  padding-right: 16px;
}

.mat-column-category {
  padding-right: 16px;
}

.mat-column-status {
  padding-right: 16px;
  span {
    cursor: pointer;
  }
}

.mat-column-buttons {
  width: 144px;
}
