@import '/src/app/shared/styles/variables';

%flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin font-style($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

:host {
  margin: auto;
  display: block;
  max-width: 390px;
  padding: 0px 25px;
  height: calc(100% - 64px);

  section {
    @extend %flex;
    height: 100%;
    padding-bottom: 30px;

    .information {
      @extend %flex;
      align-items: center;
    }

    .logo {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    h3 {
      @include font-style(20px, 24px, 700);
      margin-bottom: 40px;
    }

    .message {
      @include font-style(16px, 24px, 400);
      color: $color-text-gray;
      text-align: center;
      margin-bottom: 20px;
    }

    .mail {
      @include font-style(16px, 15px, 400);
      color: $color-accent-text;
    }

    button {
      height: 55px;
      width: 340px;
      border-radius: 10px;
    }
  }
}
