<div class="header">
  <h3>{{ModalEnum.ArchiveTitle}}</h3>
  <i
    [mat-dialog-close]="false"
  ></i>
</div>
<div class="separator"></div>
<div class="content">
  <p>
    Статус оборудование измениться на “В архиве” и скроется из общего списка оборудования. Проверьте данные.
  </p>
    <lc-text-like-input *ngIf="equipment.name" [label]="LabelEnum.Name" [text]="equipment.name"></lc-text-like-input>
    <lc-text-like-input *ngIf="equipment.name_substring"  [label]="LabelEnum.NameSubstring" [text]="equipment.name_substring"></lc-text-like-input>
    <lc-text-like-input *ngIf="equipment.inventoryNumber"  [label]="LabelEnum.InventoryNumber" [text]="inventoryNumber"></lc-text-like-input>
</div>
<div class="separator"></div>
<div class="buttons-wrapper">
  <div class="buttons">
    <button
      mat-button
      class="cancel"
      [mat-dialog-close]="false"

    >
      Отменить
    </button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
    >
      {{ModalEnum.ArchiveApplyButtonText}}
    </button>
  </div>
</div>
