<lc-modal-layout headerTitle="Архивирование оборудования">
  <ng-container body>
    <div class="content">
      <p>
        Статус оборудование измениться на “В архиве” и скроется из общего списка оборудования. Проверьте данные.
      </p>
      <lc-equipment-info
        [equipment]="equipment"
      ></lc-equipment-info>
    </div>
  </ng-container>
  <ng-container footer>
    <div class="buttons">
      <button
        mat-button
        class="cancel"
        [mat-dialog-close]="false"
      >
        Отменить
      </button>
      <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="true"
      >
        {{ModalEnum.ArchiveApplyButtonText}}
      </button>
    </div>
  </ng-container>
</lc-modal-layout>
