p {
  margin-bottom: 0px;
  color: #000000de;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.10px;
  word-wrap: break-word
}
mat-icon {
  position: relative;
  top: 8px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .cancel{
    margin-right: 24px;
    font-style: normal;
    font-weight: 500;
    color: #00677F;
  }

  button{
    height: 56px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 16px;
    text-transform: uppercase;
  }
}
