<div lcInfiniteScroll (scrolled)="loadMore()" class="my-applications-container">
  @if (filter$ | async; as filter) {
    <lc-dropdown-filter
      [label]="'Показать'"
      [options]="filter.options"
      (selectionChange)="applyFilter($event)">
    </lc-dropdown-filter>
  }
  <section class="my-applications-list">
    @for (application of applications$(); track trackMyApplication(i, application); let i = $index; let last = $last) {
      <div class="my-application-container"
        >
        <lc-my-application [application]="application"></lc-my-application>
        @if (!last) {
          <mat-divider></mat-divider>
        }
      </div>
    }
    @if (loading$()) {
      <lc-loader></lc-loader>
    } @else {
      @if (applications$().length === 0) {
        <p class="no-applications-message">Извините, по вашему запросу ничего не найдено. Попробуйте изменить критерии запроса.</p>
      }
    }
  </section>
</div>
