<div lcInfiniteScroll (scrolled)="loadMore()" class="my-applications-container">
  <lc-dropdown-filter
    *ngIf="filter$ | async as filter"
    [label]="'Показать'"
    [options]="filter.options"
    (selectionChange)="applyFilter($event)">
  </lc-dropdown-filter>
  <section class="my-applications-list">
    <div class="my-application-container"
         *ngFor="let application of applications$(); let i = index; let last = last; trackBy: trackMyApplication">
      <lc-my-application [application]="application"></lc-my-application>
      <mat-divider *ngIf="!last"></mat-divider>
    </div>
    <ng-container *ngIf="loading$() else noApplicationsMessage">
      <lc-loader></lc-loader>
    </ng-container>
  </section>
</div>
<ng-template #noApplicationsMessage>
  <p class="no-applications-message" *ngIf="applications$().length === 0">Извините, по вашему запросу ничего не найдено. Попробуйте изменить критерии запроса.</p>
</ng-template>
